
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

RewriteCond %{HTTP_REFERER} !^http://adrianarealestate.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://adrianarealestate.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^http://adrianarealestate.ca.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://adrianarealestate.ca.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://centroderehabilitacionarcadenoe.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://centroderehabilitacionarcadenoe.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://centroderehabilitacionarcadenoe.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://centroderehabilitacionarcadenoe.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://elementaltrainingpro.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://elementaltrainingpro.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://elementaltrainingpro.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://elementaltrainingpro.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pibuspamerida.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pibuspamerida.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pibuspamerida.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pibuspamerida.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rencoexpress.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rencoexpress.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rencoexpress.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rencoexpress.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.adrianarealestate.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.adrianarealestate.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.adrianarealestate.ca.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.adrianarealestate.ca.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.centroderehabilitacionarcadenoe.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.centroderehabilitacionarcadenoe.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.centroderehabilitacionarcadenoe.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.centroderehabilitacionarcadenoe.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.elementaltrainingpro.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.elementaltrainingpro.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.elementaltrainingpro.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.elementaltrainingpro.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pibuspamerida.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pibuspamerida.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pibuspamerida.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pibuspamerida.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rencoexpress.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rencoexpress.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rencoexpress.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.rencoexpress.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zenevra.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zenevra.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zenevra.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zenevra.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zenevra.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zenevra.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zenevra.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zenevra.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://adrianarealestate.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://adrianarealestate.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^https://adrianarealestate.ca.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://adrianarealestate.ca.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://centroderehabilitacionarcadenoe.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://centroderehabilitacionarcadenoe.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://centroderehabilitacionarcadenoe.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://centroderehabilitacionarcadenoe.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://elementaltrainingpro.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://elementaltrainingpro.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://elementaltrainingpro.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://elementaltrainingpro.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pibuspamerida.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pibuspamerida.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pibuspamerida.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pibuspamerida.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rencoexpress.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rencoexpress.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rencoexpress.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rencoexpress.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.adrianarealestate.ca/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.adrianarealestate.ca$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.adrianarealestate.ca.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.adrianarealestate.ca.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.centroderehabilitacionarcadenoe.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.centroderehabilitacionarcadenoe.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.centroderehabilitacionarcadenoe.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.centroderehabilitacionarcadenoe.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.elementaltrainingpro.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.elementaltrainingpro.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.elementaltrainingpro.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.elementaltrainingpro.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pibuspamerida.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pibuspamerida.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pibuspamerida.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pibuspamerida.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rencoexpress.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rencoexpress.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rencoexpress.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.rencoexpress.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zenevra.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zenevra.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zenevra.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zenevra.pinksportworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zenevra.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zenevra.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zenevra.pinksportworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zenevra.pinksportworld.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

